*, *::before, *::after {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0; /* 确保没有默认的内边距 */
  /* 禁止 html,body 滚动，避免滚动条出现在标题栏右边 */
  overflow: hidden;
}

/* 确保文本大小调整在所有浏览器中正常工作 */
html {
  -webkit-text-size-adjust: 100%; /* 兼容旧版WebKit浏览器 */
  text-size-adjust: 100%; /* 标准属性，支持现代浏览器 */
}

body {
  font-family: sans-serif; /* 使用最安全的默认字体 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  color: var(--text-color-primary); /* 调整代码块颜色 */
}

h1, h2 {
    color: var(--text-color-primary); /* 使用主题变量 */
}
